.ui.secondary.menu.top.customColor.large
  a.item(href='/dashboard')
    img(src='https://data2.cupsell.pl/upload/generator/107017/640x420/1476613_print-trimmed-1.png?resize=max_sizes&key=55f9a22768eed085006592c1174c0235')
  .right.menu
    if authenticated
      a.item(href="/team")=(user.company ? user.company.name : "")
        i.icon.bell.outline
      .ui.dropdown.item.link#wat=user.display_name
        i.dropdown.icon
        .menu
          a.item(href='user/logout') Logout
    else
        a.item(href="/user/signup") Sign Up
        a.item(href="/user/Login") Login

