
.ui.compact.vertical.labeled.icon.menu
  a.item(href="/dashboard")
    i.sitemap.icon
    |     Dashboard
  a.item(href="/hours")
    i.clock.icon
    |     Hour Overview
  a.item(href="/calendar")
    i.calendar.alternate.outline.icon
    |     Calendar
  a.item(href="/tasks")
    i.tasks.icon
    |     Manage Tasks
  a.item(href="/team")
    i.user.secret.icon
    |     Team
  a.item(href="/support")
    i.question.circle.icon
    |     Support


